/**************************************** DARK VERSION ********************************/

.dark {
    background-color: #21201e;
}

.dark .header-line {
    border-bottom: 1px solid #3d3d3d;
}

.dark .header-contacts::before,
.dark .header-contacts::after,
.dark .header-contacts a:nth-child(2)::before,
.dark .header-contacts a:nth-child(2)::after,
.dark .header-ControlPanel::before,
.dark .header-ControlPanel::after,
.dark .header-currency-ul::before,
.dark .header-currency-ul::after,
.dark .header-account-ul::before {
    background-color: #3d3d3d;
}

.dark .navigation-left>li>a,
.dark .navigation-right>li>a,
.dark .navigation-right>li>i,
.dark .navigation-small i {
    color: #fff;
}

.dark .navigation-left>li:hover>a,
.dark .navigation-right>li:hover>a,
.dark .navigation-right>li>i:hover {
    color: #d7b17c;
}

.dark .header-language-ul:hover,
.dark .header-language:hover>div,
.dark .header-language:hover>i,
.dark .header-currency-ul:hover,
.dark .header-currency:hover>div,
.dark .header-currency:hover>i,
.dark .header-account-ul:hover,
.dark .header-account-ul li:hover,
.dark .header-account:hover {
    color: #fff;
    background-color: #3d3d3d;
}

.dark .header-currency-ul1,
.dark .header-language-ul1,
.dark .header-account-ul1 {
    background-color: #3d3d3d;
}

@media screen and (max-width: 1440px) {
    .reviews,
    .news {
        margin-bottom: 60px;
    }
    .news-bottom a,
    .news-bottom span,
    .news-bottom div {
        font-size: 11px;
    }
    .promotion-main {
        height: 150px;
    }
    .promotion-title {
        font-size: 15px;
    }
    .promotion-subtitle {
        font-size: 13px;
    }
}

@media screen and (max-width: 1240px) {
    .prom-name-top {
        top: 20px;
        font-size: 23px;
    }
    .prom-name-bottom {
        top: 50px;
        font-size: 17px;
    }
    .prom-items {
        width: 220px;
    }
    .reviews,
    .news {
        margin-bottom: 30px;
    }
    .reviews-item {
        padding: 60px 0;
    }
    .reviews-title {
        margin-bottom: 20px;
        font-size: 25px;
    }
    .reviews-comment {
        margin-bottom: 24px;
    }
    .reviews-comment>pre {
        font-size: 14px;
    }
    .news-item {
        margin: 20px;
        width: calc(50% - 40px);
    }
    .news-photo {
        padding: 0 0 60.5% 0;
    }
    .news-container {
        flex-wrap: wrap;
    }
    .news-title a {
        font-size: 14px;
    }
    .news-description {
        margin: 10px 0;
        font-size: 13px;
    }
    .promotion-main {
        height: 110px;
    }
    .promotion-items {
        margin: 0 10px;
    }
    .promotion-icon {
        margin-right: 10px;
    }
    .promotion-icon img {
        width: 30px;
    }
    .promotion-icon i {
        font-size: 30px;
    }
    .promotion-title {
        font-size: 14px;
    }
    .promotion-subtitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .reviews-item {
        padding: 40px 0;
    }
    .reviews-names {
        margin-top: 10px;
    }
}

@media screen and (max-width: 900px) {
    .news-item {
        margin: 20px;
        width: 85%;
    }
    .news-photo {
        padding: 0 0 50% 0;
    }
    .promotion-main {
        height: 90px;
    }
    .promotion-icon img {
        width: 20px;
    }
    .promotion-icon i {
        font-size: 20px;
    }
    .promotion-title {
        font-size: 12px;
    }
    .promotion-subtitle {
        font-size: 11px;
    }
    .news-title a {
        font-size: 13px;
    }
    .news-description {
        font-size: 12px;
    }
    .footer-banner {
        height: 70px;
    }
    .btn-chat {
        padding: 6px 10px;
        font-size: 9px;
    }
    .copyright {
        margin-top: 20px;
    }
}

@media screen and (max-width: 460px) {
    .news-item {
        margin: 10px;
        width: 95%;
    }
}