footer {
    background-color: #f7f7f7;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 150px;
    background-color: #fff;
}

.footer-icon {
    margin-left: 30px;
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid #d7b17c;
    border-radius: 50%;
}

.footer-icon i {
    width: 23px;
    height: 23px;
    position: absolute;
    font-size: 23px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #d7b17c;
}

.footer-info {
    margin-left: 20px;
    margin-right: auto;
}

.footer-info p:nth-child(1) {
    color: #d7b17c;
    font-weight: bold;
}

.footer-info p:nth-child(2) {
    color: #7a7a7a;
}

.btn-chat {
    margin-left: 10px;
    margin-right: auto;
    padding: 12px 20px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 18px;
    background-color: rgb(215, 177, 124);
    cursor: pointer;
    white-space: nowrap;
}

.btn-chat:hover {
    background-color: #000;
}

.footer-img {
    position: relative;
    width: 20%;
    height: 100%;
    margin-right: 0;
    order: 2
}

.footer-img img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    bottom: 50%;
    right: 0;
    margin: auto;
    object-fit: cover;
}

.footer-center,
.footer-bottom {
    display: flex;
    margin-top: 75px;
    justify-content: space-between;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo img {
    width: 225px;
}

.footer-text {
    max-width: 350px;
    font-size: 14px;
    color: rgb(122, 122, 122);
    line-height: 2;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.footer-contacts i {
    margin-right: 5px;
    font-size: 15px;
    color: #d7b17c;
}

.footer-contacts a,
.footer-contacts p {
    display: block;
    position: relative;
    padding: 10px 0;
    font-size: 12px;
    color: #7a7a7a;
    text-decoration: none;
}

.footer-navigation {
    margin: 0 20px;
}

.footer-title {
    font-size: 18px;
    font-family: "Poppins-Bold";
    color: black;
}

.footer-title span {
    margin-left: 15px;
    font-size: 14px;
    color: rgb(122, 122, 122);
    font-family: "Poppins";
}

.footer-item {
    width: 25%;
    font-size: 13px;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer-nav-items {
    padding-left: 0;
}

.footer-nav-items li {
    margin: 15px 0;
    list-style: none;
}

.footer-nav-items a {
    font-size: 14px;
    color: rgb(122, 122, 122);
    text-decoration: none;
}

.footer-nav-items a:hover {
    color: #d7b17c;
}

.footer-gallery {
    position: relative;
    margin-top: 15px;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-gallery>div {
    position: relative;
    margin: 1.5%;
    width: 100px;
    height: 100px;
}

.footer-gallery>div:hover .footer-back {
    opacity: 1;
}

.footer-gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-back {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #d7b17c;
    z-index: 20;
    transition: 0.3s;
}

.footer-back a {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.footer-back i {
    font-size: 25px;
    color: white;
}

.footer-left {
    width: calc(300px + 7%);
    margin-right: 0;
    margin-left: auto;
}

.footer-payment {
    display: flex;
    align-items: center;
}

.footer-bottom .footer-item:nth-child(2) {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-soc {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.footer-soc li {
    display: inline-block;
    list-style: none;
}

.footer-soc a {
    margin: 0.5%;
    display: block;
    width: 40px;
    height: 40px;
}

.footer-skype {
    margin-left: 10px;
    background: url(../source/img/soc/skype_grey.png) no-repeat center;
}

.footer-skype:hover {
    background: url(../source/img/soc/skype.png) no-repeat center;
}

.footer-youtube {
    background: url(../source/img/soc/youtube_grey.png) no-repeat center;
}

.footer-youtube:hover {
    background: url(../source/img/soc/youtube.png) no-repeat center;
}

.footer-insta {
    background: url(../source/img/soc/insta_grey.png) no-repeat center;
}

.footer-insta:hover {
    background: url(../source/img/soc/insta.png) no-repeat center;
}

.footer-google {
    background: url(../source/img/soc/google_grey.png) no-repeat center;
}

.footer-google:hover {
    background: url(../source/img/soc/google.png) no-repeat center;
}

.footer-twitter {
    background: url(../source/img/soc/twitter_grey.png) no-repeat center;
}

.footer-twitter:hover {
    background: url(../source/img/soc/twitter.png) no-repeat center;
}

.footer-pin {
    background: url(../source/img/soc/pin_grey.png) no-repeat center;
}

.footer-pin:hover {
    background: url(../source/img/soc/pin.png) no-repeat center;
}

.footer-face {
    background: url(../source/img/soc/face_grey.png) no-repeat center;
}

.footer-face:hover {
    background: url(../source/img/soc/face.png) no-repeat center;
}

.footer-btn {
    width: 22%;
    padding: 14px;
    height: 100%;
    font-size: 13px;
    font-family: "Poppins-Bold";
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    white-space: nowrap;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: #000000;
    color: #fff;
}

.copyright {
    margin-top: 75px;
    padding: 18px 0;
    width: 100%;
    color: rgb(122, 122, 122);
    background-color: #eeeeee;
    border-top: 1px solid #e2e2e2;
}

.copyright-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-item {
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.copyright-item:last-child {
    display: flex;
    justify-content: flex-end;
}

.footer-top_two {
    margin-bottom: 60px;
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7b17c;
}

.footer-top_title {
    margin-right: 20px;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    font-family: "Poppins-Bold";
}

.footer-letter {
    max-width: 680px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.footer-letter i {
    padding-left: 10px;
    color: white;
}

.footer-email {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer-input {
    width: 95%;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    font-family: "Poppins-Bold";
    border: none;
    background-color: transparent;
    outline: none;
}

.footer-input::placeholder {
    color: white;
}

.dark .footer-top_two {
    background-color: #323232;
}

.dark .footer-letter {
    border: 2px solid #d7b17c;
}

.dark .footer-letter i {
    color: #d7b17c;
}

.dark .footer-btn {
    background-color: #d7b17c;
    color: white;
}

.dark .footer-btn:hover {
    background-color: #fff;
    color: #d7b17c;
}

.dark .footer-banner {
    background-color: #3d3d3d;
    justify-content: center;
}

.dark .footer-banner div {
    margin: 10px;
}

.dark .footer-img {
    display: none;
}

.dark .footer-title,
.dark .footer-input {
    color: #fff;
}

.dark .copyright {
    background-color: #21201e;
    border-top: 1px solid #3d3d3d;
}

@media screen and (max-width: 1440px) {
    .footer-top_two {
        padding: 80px 0;
    }
    .footer-banner {
        height: 130px;
        width: 32.6%;
    }
    .footer-icon {
        margin-left: 10px;
        width: 40px;
        height: 40px;
    }
    .footer-icon i {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
    .footer-gallery>div {
        width: 80px;
        height: 80px;
    }
    .footer-info {
        margin-left: 10px;
    }
    .footer-info p:nth-child(1) {
        font-size: 14px;
    }
    .footer-info p:nth-child(2) {
        font-size: 14px;
    }
    .footer-img img {
        height: 100%;
    }
    .footer-soc a {
        width: 30px;
        height: 30px;
    }
    .footer-left {
        width: calc(244px + 7%);
    }
}

@media screen and (max-width: 1240px) {
    footer {
        /* padding-top: 30px; */
    }
    .footer-top_two {
        padding: 50px 0;
    }
    .footer-top_title {
        font-size: 24px;
    }
    .footer-email {
        padding: 6px;
    }
    .footer-left {
        width: calc(214px + 7%);
    }
    .footer-banner {
        height: 110px;
    }
    .footer-info p:nth-child(1) {
        font-size: 12px;
    }
    .footer-info p:nth-child(2) {
        font-size: 11px;
    }
    .btn-chat {
        padding: 8px 20px;
    }
    .footer-center,
    .footer-bottom {
        margin-top: 30px;
    }
    .footer-logo img {
        width: 195px;
    }
    .footer-text {
        font-size: 12px;
    }
    .footer-contacts p,
    .footer-contacts a {
        padding: 5px 0;
        font-size: 11px;
    }
    .footer-title {
        font-size: 14px;
    }
    .footer-nav-items a {
        font-size: 12px;
    }
    .footer-nav-items li {
        margin: 5px 0;
    }
    .footer-gallery>div {
        width: 70px;
        height: 70px;
    }
    .footer-title span {
        margin-left: 10px;
        font-size: 12px;
    }
    .footer-input {
        width: 94%;
        font-size: 14px;
    }
    .footer-btn {
        padding: 8px;
    }
    .footer-payment img {
        width: 25px;
    }
    .copyright {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .footer-top_two {
        padding: 40px 0;
    }
    .footer-letter {
        width: 40%;
    }
    .footer-left {
        width: calc(197px + 7%);
    }
    .footer-btn {
        font-size: 12px;
    }
    .footer-banner {
        height: 85px;
    }
    .footer-img {
        display: none;
    }
    .footer-gallery>div {
        width: 65px;
        height: 65px;
    }
    .footer-soc a {
        width: 25px;
        height: 25px;
    }
    .footer-title span {
        margin-left: 2px;
    }
    .copyright {
        padding: 15px 0;
    }
}

@media screen and (max-width: 900px) {
    .footer-top_two {
        padding: 30px 0;
    }
    .footer-email {
        padding: 4px;
    }
    .footer-input {
        font-size: 13px;
    }
    .footer-top_title {
        font-size: 20px;
    }
    .footer-left {
        width: calc(152px + 7%);
    }
    .footer-navigation {
        margin: 0 5px;
        width: 32%;
    }
    .footer-logo img {
        width: 150px;
    }
    .footer-title span {
        margin-top: 5px;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    .copyright-item {
        font-size: 10px;
    }
    .footer-gallery>div {
        width: 50px;
        height: 50px;
    }
    .footer-payment img {
        width: 20px;
    }
    .footer-btn {
        font-size: 10px;
        padding: 7px;
    }
    .copyright {
        padding: 10px 0;
    }
}

@media screen and (max-width: 760px) {
    .normal {
        display: none;
    }
    /*
    .small {
        display: block;
    } */
    .copyright-item:last-child {
        display: none;
    }
    footer {
        padding-top: 0;
        border-top: 1px solid #e4e4e4
    }
    .footer-small_items {
        border-bottom: 1px solid #e4e4e4;
    }
    .footer-small_items:nth-child(2) {
        border-bottom: none;
    }
    .footer-letter i,
    .footer-input {
        font-size: 18px;
    }
    .footer-email {
        margin-right: 0;
        width: 90%;
    }
    .footer-letter {
        flex-direction: column;
    }
    .footer-btn {
        width: 90%;
        margin-top: 10px;
        padding: 10px;
        font-size: 14px;
    }
    .footer-contacts {
        text-align: center;
    }
    .footer-contacts p,
    .footer-contacts a {
        padding: 15px 0;
        font-size: 16px;
        border-top: 1px solid #e4e4e4;
    }
    .footer-navigation {
        margin: 0;
        width: 100%;
    }
    .footer-title {
        padding: 15px 0;
        width: 100%;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e4e4e4;
    }
    .footer-title i {
        margin-right: 10px;
    }
    .footer-nav-items {
        position: relative;
        max-height: 0;
        width: 100%;
        visibility: hidden;
        transform-origin: 0 0;
        transform: scaleY(0);
        transition: all .5s ease;
        overflow: auto;
    }
    .footer-nav-items a {
        font-size: 14px;
    }
    .footer-nav-items li {
        padding: 15px 0;
        border-bottom: 1px solid #e4e4e4;
    }
    .footer-soc {
        padding: 15px 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #e4e4e4;
    }
    .footer-logo {
        width: 100%;
    }
    .footer-logo img {
        padding-top: 15px;
        display: block;
        width: 200px;
        margin: 0 auto;
    }
    .footer-soc a {
        width: 40px;
        height: 40px;
    }
    .copyright {
        padding: 10px
    }
    .copyright-item {
        font-size: 12px;
        text-align: center;
    }
}

.navShow {
    max-height: 1000px;
    visibility: visible;
    transform: scaleY(1);
}