/***************************** HEADER ***********************************/

header {
    position: relative;
    background-color: #fff;
    z-index: 110;
}

.header-line {
    /* position: absolute; */
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}


/****************************** HEADER-SMALL ******************************/

.header-small {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.315);
    z-index: 999;
}

.navigation-small {
    display: flex;
    justify-content: flex-end;
}

.navigation-small button {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    outline: none;
}

.navigation-small button i,
.navigation-small button a {
    font-size: 18px;
    color: #333333;
}

.burger-menu {
    /* display: none; */
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 1000;
    transform-origin: 100% 50%;
    transform: scaleX(0);
}

.burger-nav {
    position: relative;
    padding-left: 0;
    width: 70%;
    background-color: #fdfdf9;
}

.burger-nav li {
    list-style: none;
    border-bottom: 1px solid #dadada;
    background-color: #fdfdf9;
}

.burger-nav a {
    padding: 12px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7a7a7a;
    text-decoration: none;
}

.burger-nav .burger-login {
    color: #ffffff;
    background-color: #d7b17c;
}

.burger-podmenu {
    height: 100vmax;
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfdf9;
    transform-origin: 100% 50%;
    transform: scaleX(0);
}

.burger-close {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-close i {
    font-size: 30px;
    color: #fff;
}

.product-img {
    width: 100%;
    padding: 0 0 100% 0;
    position: relative;
    overflow: hidden;
}

.product-img>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.product-small {
    display: block;
    margin: 0 auto;
    padding: 30px 20px;
    width: 100%;
    position: relative;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.product-small,
.product-small i {
    color: #333333;
}

.product-small .active {
    background-color: #ededed;
}

.product-small div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-nav {
    padding-left: 0;
    position: relative;
    max-height: 0;
    width: 100%;
    visibility: hidden;
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: all .5s ease;
    overflow: auto;
}

.product-small li,
.product-small div {
    padding: 10px;
    list-style: none;
    border: 1px solid #e4e4e4;
}


/***************************** HEADER-TOP ***********************************/

.header-top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.header-contacts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.header-contacts::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    left: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}

.header-contacts::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    right: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}

.header-contacts a,
.header-contacts p,
.header-login-main,
.header-currency,
.header-language,
.header-account {
    padding: 16px 18px;
}

.header-contacts a,
.header-contacts p {
    display: block;
    position: relative;
    font-size: 12px;
    color: #7a7a7a;
    text-decoration: none;
}

.header-contacts a:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    left: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}

.header-contacts a:nth-child(2)::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    right: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}

.header-contacts i {
    margin-right: 5px;
    font-size: 15px;
    color: #d7b17c;
}

.header-contacts p {
    color: #d7b17c;
}


/***************************** HEADER-CONTROL_PANEL ***********************************/

.header-ControlPanel {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-ControlPanel::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    left: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}

.header-ControlPanel::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    right: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}

.header-currency,
.header-language,
.header-account {
    position: relative;
    font-weight: 600;
    font-size: 12px;
    color: #7a7a7a;
    list-style: none;
    cursor: pointer;
}

.header-language,
.header-currency {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.header-language i,
.header-currency i {
    margin-left: 8px;
}

.header-currency-list,
.header-language-list,
.header-currency-list li,
.header-language-list li,
.header-account-list,
.header-account-list li,
.header-account-list li a {
    list-style: none;
    font-weight: 600;
    font-size: 12px;
    color: #7a7a7a;
}

.header-account-list li a {
    text-decoration: none;
}

.header-language-list li,
.header-currency-list li,
.header-account-list li {
    display: flex;
    align-items: center;
    padding: 7px 20px;
    white-space: nowrap;
}

.header-language-list li:hover,
.header-language-list li:hover>div,
.header-language-ul:hover,
.header-language:hover>div,
.header-language:hover>i,
.header-currency-list li:hover,
.header-currency-list li:hover>div,
.header-currency-ul:hover,
.header-currency:hover>div,
.header-currency:hover>i,
.header-account-ul:hover,
.header-account-ul li:hover,
.header-account-list li:hover,
.header-account:hover,
.header-account-list li:hover a {
    color: #000;
    background-color: #ededed;
    cursor: pointer;
}

.header-language-div,
.header-currency-div {
    white-space: nowrap;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins;
    color: #7a7a7a;
}

.header-currency-div {
    width: 46px;
}

.header-currency-ul,
.header-language-ul {
    padding: 0;
    position: relative;
}

.header-currency-ul1,
.header-language-ul1,
.header-account-ul1 {
    padding: 0;
    position: relative;
    background-color: #ededed;
}

.header-currency-list,
.header-language-list,
.header-account-list {
    display: none;
    position: absolute;
    width: 200px;
    padding: 10px 0;
    top: 102%;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.header-currency-ul::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    left: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}

.header-currency-ul::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    right: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}

.header-flag {
    width: 16px;
    margin-right: 10px;
}

.header-account-ul {
    position: relative;
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins;
    color: #7a7a7a;
}

.header-account-ul::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 110%;
    right: 0;
    bottom: -1px;
    background-color: #e4e4e4;
    z-index: 100;
}


/***************************** HEADER-LOGIN ***********************************/

.header-login {
    position: relative;
}

.header-login-main {
    padding: 16px 18px;
    font-weight: 600;
    font-family: "Poppins";
    font-size: 12px;
    color: #d7b17c;
    cursor: pointer;
}

.header-login-main-open {
    color: #ffffff;
    background-color: #d7b17c;
}

.header-login-main:hover {
    color: #ffffff;
    background-color: #d7b17c;
}

.header-login-list {
    position: absolute;
    display: none;
    padding: 30px;
    top: 102%;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.header-login-list-cn {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.header-login-list-user,
.header-login-list-pass {
    margin-bottom: 30px;
    width: 285px;
    border: 1px solid #ededed;
}

.header-login-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-login-save {
    font-size: 14px;
    color: #7a7a7a;
}

.header-login-save input {
    margin-right: 5px;
}

.header-login-forgot {
    display: block;
    text-decoration: none;
    color: #d7b17c;
    font-size: 14px;
}

.header-login-forgot:hover {
    color: #8c7452;
}

.header-login-button {
    margin-bottom: 30px;
    padding: 7px 0;
    width: 285px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: #d7b17c;
    cursor: pointer;
}

.header-login-button:hover {
    background-color: #000000;
}

.header-login-new {
    display: block;
    width: 285px;
    text-align: center;
    font-size: 12px;
    color: #7a7a7a;
}

.header-login-new:hover {
    color: #000000;
}


/********************** HEADER BOTTOM *********************/

.header-bottom {
    /* position: relative; */
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 255px;
}

.logo img {
    display: block;
    width: 100%;
}

.navigation {
    width: 75%;
    /* position: relative; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-left,
.navigation-right {
    position: relative;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navigation-left {
    width: 85%;
    margin-left: auto;
}

.navigation-right {
    margin-left: 10px;
}

.navigation-left>li,
.navigation-right>li {
    margin-right: 3%;
    padding: 1% 0;
    /* position: relative; */
    display: inline-block;
    list-style: none;
    white-space: nowrap;
}

.navigation-left>li>a {
    font-size: 13px;
    font-family: "Poppins-Bold";
    color: rgb(51, 51, 51);
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-right>li>a {
    position: relative;
    font-size: 13px;
    font-family: "Poppins-Bold";
    color: rgb(51, 51, 51);
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-left>li>a>i {
    padding-left: 9px;
    font-size: 13px;
}

.navigation-right>li>i {
    font-size: 13px;
    padding-left: 9px;
}

.navigation-right>li>i:hover {
    color: #d7b17c;
}

.navigation-right>li>a>i {
    font-size: 13px;
    padding-left: 9px;
}

.navigation-right>li>a>sup {
    vertical-align: baseline;
    position: relative;
    top: -0.8em;
    font-size: 13px;
}

.navigation-left>li:hover>a,
.navigation-right>li:hover>a {
    color: #d7b17c;
}


/*************** DEMO *************/

.demo {
    /* display: none; */
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    right: -124px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 100;
    transform-origin: 0 0;
    transition: transform .25s linear;
    transform: scaleY(0);
}

.light-version,
.dark-version {
    width: 45%;
}

.light-version>div,
.dark-version>div {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: "Poppins-Bold";
    text-transform: uppercase;
}

.demo-img {
    position: relative;
    width: 100%;
    padding: 0 0 120% 0;
}

.demo-img:hover {
    box-shadow: 0 0 15px 0 rgba(184, 184, 184, 0.705);
}

.demo-img img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.52);
}

.recomm-product {
    width: 30%;
    padding-bottom: 5px;
}

.navigation-left>li:hover div,
.navigation-left>li:hover ul {
    transform: scaleY(1);
}


/**************** HOME , PAGES ***************/

.home,
.pages,
.elements {
    /* display: none; */
    display: block;
    position: absolute;
    padding: 10px 0;
    top: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transform-origin: 0 0;
    transition: transform .25s linear;
    transform: scaleY(0);
}

.home,
.pages {
    left: -50%;
}

.elements {
    right: 0;
}

.home>li,
.pages>li,
.elements>li {
    padding: 7px 20px;
    align-items: center;
    white-space: nowrap;
    list-style: none;
}

.home a,
.pages a,
.elements a {
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins;
    color: #7a7a7a;
    text-decoration: none;
}

.navigation-left>li:nth-child(2) {
    position: relative;
}

.navigation-left>li:nth-child(5) {
    position: relative;
}

.home>li>a:hover,
.pages>li>a:hover,
.elements>li>a:hover {
    color: #d7b17c;
}


/****************** MEGAMENU ************************/

.megamenu {
    /* display: none; */
    display: flex;
    position: absolute;
    padding: 40px 40px 50px;
    top: 100%;
    right: -124px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 99;
    transform-origin: 0 0;
    transition: transform .25s linear;
    transform: scaleY(0);
}

.shop-cat,
.shop-stat {
    width: 250px;
}

.shop-title,
.shop-prom-title {
    font-size: 16px;
    font-family: "Poppins-Bold";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
}

.shop-title {
    margin-bottom: 30px;
}

.shop-item {
    padding: 0;
}

.shop-item li {
    list-style: none;
    padding: 7px 0;
}

.shop-item a {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";
    color: #7a7a7a;
    text-decoration: none;
    white-space: nowrap;
}

.shop-item a:hover {
    color: #d7b17c;
}

.sale,
.new,
.hot,
.trend {
    width: 50px;
    position: absolute;
    bottom: 30%;
    left: calc(100% + 15px);
    padding: 4px 0;
    font-size: 11px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

.sale {
    background-color: #ff6666;
}

.sale:before {
    border-bottom: 6px solid #ff6666;
}

.new {
    background-color: #7bae7b;
}

.new:before {
    border-bottom: 6px solid #7bae7b;
}

.hot {
    background-color: #ffa854;
}

.hot:before {
    border-bottom: 6px solid #ffa854;
}

.trend {
    background-color: #659cdf;
}

.trend:before {
    border-bottom: 6px solid #659cdf;
}

.sale:before,
.new:before,
.hot:before,
.trend:before {
    content: "";
    position: absolute;
    left: -6px;
    bottom: 6px;
    border-left: 6px solid transparent;
}

.recomm-product-item {
    position: relative;
    padding: 19px 19px 44px;
    border: 1px solid #ededed;
}

.product-class,
.product-name,
.product-price {
    text-align: center;
}

.product-class {
    margin-top: 4px;
}

.product-class a {
    color: #7a7a7a;
    font-size: 12px;
    font-family: "Poppins";
    text-transform: uppercase;
    text-decoration: none;
}

.product-class:hover>a {
    color: #000000;
}

.product-name a {
    color: #000000;
    font-size: 12px;
    font-family: "Poppins-Bold";
    text-decoration: none;
}

.product-name:hover>a {
    color: #d7b17c;
}

.product-rating {
    text-align: center;
    margin-bottom: 7px;
}

.rating-up {
    color: #ffcc00;
    font-size: 12px;
}

.rating-down {
    color: #ededed;
    font-size: 12px;
}

.product-price {
    display: flex;
    justify-content: center;
}

.new-price {
    color: #000000;
    font-size: 12px;
    font-family: "Poppins-Bold";
    text-decoration: none;
}

.old-price {
    margin-left: 10px;
    color: #cccccc;
    font-size: 12px;
    font-family: "Poppins-Bold";
    text-decoration: line-through;
}

.shop-prom {
    position: relative;
    margin-top: 10px;
    margin-left: 40px;
}

.prom-items {
    margin-top: 20px;
    position: relative;
    width: 306px;
    height: calc(100% - 44px);
}

.prom-items img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.prom-name-top {
    position: absolute;
    width: 100%;
    top: 60px;
    font-size: 28px;
    font-family: "Poppins-Bold";
    text-align: center;
    text-transform: uppercase;
    color: #165f6d;
}

.prom-name-bottom {
    position: absolute;
    width: 100%;
    top: 92px;
    font-size: 22px;
    font-family: "Poppins-Bold";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #165f6d;
}

.prom-offer {
    width: 100px;
    height: 100px;
    position: absolute;
    padding-top: 22px;
    top: 125px;
    right: 10px;
    border-radius: 50%;
    background-color: #355b6096;
    font-size: 12px;
    font-family: "Poppins-Bold";
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.prom-goin {
    width: 100%;
    position: absolute;
    bottom: 25px;
    text-align: center;
}

.prom-goin a {
    font-size: 14px;
    font-family: "Poppins-Bold";
    color: #448ba2;
    text-transform: uppercase;
}

.prom-goin a:hover {
    color: #73d2f1;
}


/********************** PRODUCT MARKER ********************/

.product-marker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.sale-marker,
.new-marker,
.hot-marker,
.trend-marker {
    width: 50px;
    position: absolute;
    left: 0;
    padding: 4px 0;
    font-size: 11px;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

.sale-marker {
    background-color: #ff6666;
}

.new-marker {
    background-color: #7bae7b;
}

.hot-marker {
    background-color: #ffa854;
}

.trend-marker {
    background-color: #659cdf;
}

.product-marker>div:nth-child(1) {
    top: 7px;
}

.product-marker>div:nth-child(2) {
    top: 39px;
}

.product-marker>div:nth-child(3) {
    top: 71px;
}

.product-marker>div:nth-child(4) {
    top: 103px;
}


/********************END PRODUCT MARKER ************/


/******************** SHOP ************************/

.shop {
    /* display: none; */
    display: flex;
    position: absolute;
    top: 100%;
    right: -124px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 40px 40px 50px;
    z-index: 99;
    transform-origin: 0 0;
    transition: transform .25s linear;
    transform: scaleY(0);
}

.catalog-product-main,
.single-product-main {
    display: flex;
}

.single-product {
    margin-left: 40px;
}

.shop-main-title-left,
.shop-main-title-right {
    width: 650px;
    margin-bottom: 30px;
    padding: 55px 0;
    font-size: 28px;
    font-family: "Poppins-Bold";
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.shop-main-title-left {
    background-color: #927859;
}

.shop-main-title-right {
    background-color: #6a7079;
}

.single-product-main>div:nth-child(2),
.catalog-product-main>div:nth-child(2) {
    margin-left: 90px;
}


/********************** COLLECTION *************/

.collection {
    display: block;
    width: 100%;
    min-width: 1350px;
    /* display: none; */
    position: absolute;
    padding: 20px 20px 35px;
    top: 100%;
    right: -124px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 100;
    transform-origin: 0 0;
    transition: transform .25s linear;
    transform: scaleY(0);
}

.collection-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collection-item {
    width: 20%;
    position: relative;
    margin: 10px 10px 20px 10px;
}

.collection-fon {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(251, 251, 251, 0) 100%);
    z-index: 10;
}

.collection-img {
    position: relative;
    width: 100%;
    padding: 0 0 150% 0;
}

.collection-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.collection-info {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
    font-family: "Poppins-Bold";
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.collection-title {
    font-size: 28px;
}

.collection-subtitle {
    font-size: 18px;
    letter-spacing: 4px;
}

.collection-go {
    margin-top: 20px;
    width: 100%;
}

.collection-go a {
    font-size: 14px;
    font-family: "Poppins";
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.collection-go a:hover {
    font-family: "Poppins-Bold";
    color: #d7b17c;
}

.collection-bottom {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-bottom-info {
    font-size: 15px;
    font-family: "Poppins";
    color: #7a7a7a;
}

.collection-switch {
    display: flex;
}

.collection-prev,
.collection-next {
    width: 37px;
    padding: 2px 0;
    margin: 0 3px;
    border: 1px solid #d6d6d6ad;
    font-size: 20px;
    color: #999999;
    text-align: center;
    cursor: pointer;
}

.collection-prev:hover,
.collection-next:hover {
    border: 1px solid #000000;
    color: #000000;
}


/*************************** BLOG *****************************/

.blog {
    /* display: none; */
    display: flex;
    position: absolute;
    padding: 10px 0;
    top: 100%;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transform-origin: 0 0;
    transition: transform .25s linear;
    transform: scaleY(0);
}


/* .navigation-left>li:hover .blog {
    display: flex;
} */

.blog-item {
    padding: 0;
}

.blog>div:nth-child(1) {
    margin-right: 80px;
}

.blog-item li {
    padding: 7px 20px;
    align-items: center;
    white-space: nowrap;
    list-style: none;
}

.blog-item a {
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins;
    color: #7a7a7a;
    text-decoration: none;
}

.blog-item a:hover {
    color: #d7b17c;
}


/************************** CART *************************/

.cart,
.wishlist {
    /* display: none; */
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 375px;
    border: 8px solid #ffffff00;
    transform-origin: 0 0;
    transition: transform .2s linear;
    transform: scaleY(0);
    z-index: 20;
}

.cart div,
.wishlist div {
    background-color: #fff;
}

.cart::before,
.wishlist::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: -10px;
    left: 70%;
    background-color: #fff;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    transform: rotate(45deg);
    z-index: 120;
}

.cart::after,
.wishlist::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    border: 1px solid #ededed;
    z-index: -1;
}

.wishlist::before {
    left: 78.5%;
}

.navigation-right>li:hover div {
    transform: scaleY(1);
}

.cart-title {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
}

.cart-info {
    font-size: 12px;
}

.cart-sum {
    font-size: 12px;
    color: #d7b17c;
    font-weight: bold;
}

.cart-content {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.cart-item {
    display: flex;
    position: relative;
    margin: 20px 0;
    padding: 20px 30px;
    border: 1px solid transparent;
    /* cursor: pointer; */
}

.cart-item:hover {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.cart-item>a {
    display: block;
    position: relative;
    line-height: 0;
    width: 75px;
    height: 75px;
}

.cart-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item-info {
    margin-left: 20px;
}

.cart-item-info>div {
    text-align: left;
    justify-content: left;
    align-items: center;
}

.cart-item-info>div:first-child {
    position: relative;
    top: -9px;
}

.product-qty {
    display: flex;
    margin-top: 5px;
}

.product-qty>span {
    font-size: 12px;
    font-weight: bold;
    color: #7a7a7a;
}

.product-qty>div {
    margin-left: 10px;
    padding: 2px 9px;
    font-size: 12px;
    border: 1px solid #ededed;
    font-weight: bold;
}

.cart-close {
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
}

.cart-close>i {
    font-size: 18px;
    color: #7a7a7a;
}

.cart-close>i:hover {
    color: #000;
}

.cart-payment {
    padding: 30px;
}

.cart-edit,
.cart-check {
    position: relative;
    display: block;
    width: 100%;
    padding: 19px 0;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    font-family: "Poppins-Bold";
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    z-index: 20;
}

.cart-edit {
    background-color: #7a7a7a;
    margin-bottom: 10px;
}

.cart-check {
    background-color: #d7b17c;
}

.cart-check:hover,
.cart-edit:hover {
    background-color: #000;
}


/********************** SEARCH *******************/

.search {
    width: 100%;
    position: absolute;
    top: 49px;
    background-color: #fff;
    z-index: 200;
}

.search-one {
    display: none;
}

.search-control {
    display: flex;
    height: 110px;
    align-items: center;
}

.search-enter {
    flex-grow: 1;
}

.search-enter>input {
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    outline: none;
}

.search-enter>input::placeholder {
    color: #000000;
}

.search-close,
.serarch-go {
    padding: 0 20px;
}

.search-close>i,
.serarch-go>i {
    font-size: 32px;
    color: #7a7a7a;
    cursor: pointer;
}

.search-close>i:hover,
.serarch-go>i:hover {
    color: #d7b17c;
}

.search-item {
    max-width: 1920px;
}

.search-item:hover {
    background-color: #ededed;
}

.search-mod {
    margin: 0;
    padding: 20px 75px;
    cursor: pointer;
}

.search-title {
    padding: 30px;
}

.search-info-mod {
    color: #cccccc;
    font-weight: bold;
}

.search-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-pages-go {
    padding-left: 5px;
    font-size: 12px;
    color: #d7b17c;
    font-weight: bold;
    text-decoration: none;
}

.search-open {
    cursor: pointer;
}


/********************** SEARCH TYPE TWO ************/

.search-two {
    max-width: 1000px;
    width: 100%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ededed;
    background-color: #fff;
    z-index: 200;
}

.search-type-two {
    padding: 0 15px;
}

.search-title-two {
    padding: 30px 15px;
}

.search-mod-two {
    margin: 0;
    padding: 20px 30px;
    cursor: pointer;
}

.search-close-two {
    position: absolute;
    top: -45px;
    right: 0;
    font-size: 32px;
    z-index: 200;
}

.serarch-go-two {
    padding: 0 20px;
}

.search-close-two>i {
    font-size: 32px;
    color: #ffffff;
}

.serarch-go-two>i {
    font-size: 32px;
    color: #7a7a7a;
}

.search-close-two>i:hover {
    color: #d7b17c;
    cursor: pointer;
}

.serarch-go-two>i:hover {
    color: #d7b17c;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .header-contacts a,
    .header-contacts p,
    .header-login-main,
    .header-currency,
    .header-language,
    .header-account {
        padding: 12px 18px;
    }
    .header-bottom {
        height: 80px;
    }
    .demo {
        min-width: 800px;
        padding: 20px;
        left: 0;
        right: auto;
    }
    .megamenu {
        padding: 30px;
    }
    .home>li,
    .pages>li,
    .elements>li,
    .blog-item li {
        padding: 4px 15px;
    }
    .blog>div:nth-child(1) {
        margin-right: 10px;
    }
    .shop {
        padding: 30px;
    }
    .collection {
        min-width: 1170px;
        padding-bottom: 20px;
    }
    .collection-item {
        margin: 5px;
    }
    .collection-title {
        font-size: 20px;
    }
    .collection-subtitle {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .collection-go a {
        font-size: 11px;
    }
    .collection-bottom-info {
        font-size: 13px;
    }
    .shop-main-title-left,
    .shop-main-title-right {
        width: 550px;
        font-size: 22px;
        padding: 33px 0;
    }
    .single-product-main>div:nth-child(2),
    .catalog-product-main>div:nth-child(2) {
        margin-left: auto;
    }
    .single-product {
        margin-left: 30px;
    }
    .shop-cat,
    .shop-stat {
        width: 220px;
    }
    .shop-title {
        margin-bottom: 15px;
    }
    .shop-title,
    .shop-prom-title {
        font-size: 14px;
    }
    .shop-item li {
        padding: 4px 0;
    }
    .shop-item a {
        font-size: 14px;
    }
    .shop-prom {
        margin-left: 20px;
    }
    .prom-items {
        width: 256px;
        height: calc(100% - 41px);
    }
    .light-version>div,
    .dark-version>div {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .cart,
    .wishlist {
        width: 360px;
    }
    .cart-title {
        padding: 10px 30px;
    }
    .cart-item {
        margin: 0;
        padding: 15px 30px;
    }
    .cart-payment {
        padding: 10px;
    }
    .cart-edit,
    .cart-check {
        padding: 14px 0;
    }
    .cart::before,
    .wishlist::before {
        width: 13px;
        height: 13px;
        top: -8px;
    }
    .cart::before {
        left: 69.5%;
    }
    .wishlist::before {
        left: 78.8%;
    }
    .search-control {
        height: 80px;
    }
    .search-control {
        font-size: 21px;
    }
    .search-close,
    .serarch-go {
        padding: 0 10px;
    }
    .search-close>i,
    .serarch-go>i {
        font-size: 22px;
        color: #7a7a7a;
    }
    .search {
        top: 41px;
    }
}

@media screen and (max-width: 1240px) {
    .header-bottom {
        height: 70px;
    }
    .logo {
        width: 195px;
    }
    .navigation-left>li,
    .navigation-right>li {
        margin-right: 2%;
    }
    .navigation-left>li>a {
        font-size: 12px;
    }
    .navigation-right>li>a>i {
        font-size: 12px;
        padding-left: 9px;
    }
    .navigation-right>li>a>sup {
        font-size: 12px;
    }
    .header-contacts a,
    .header-contacts p,
    .header-login-main,
    .header-currency,
    .header-language,
    .header-account {
        padding: 10px 12px;
    }
    .header-language-list li,
    .header-currency-list li,
    .header-account-list li {
        display: flex;
        align-items: center;
        padding: 7px 10px;
        white-space: nowrap;
    }
    .header-currency-list,
    .header-language-list,
    .header-account-list {
        width: 180px;
    }
    .demo {
        min-width: 740px;
        padding: 15px;
        left: -21px;
    }
    .megamenu {
        padding: 30px;
        right: -120px;
    }
    .shop-title,
    .shop-prom-title {
        font-size: 13px;
    }
    .shop-item a {
        font-size: 12px;
    }
    .shop-cat,
    .shop-stat {
        width: 190px;
    }
    .sale,
    .new,
    .hot,
    .trend {
        font-size: 10px;
    }
    .home>li,
    .pages>li,
    .elements>li,
    .blog-item li {
        padding: 2px 15px;
    }
    .shop {
        padding: 15px;
    }
    .single-product {
        margin-left: 20px;
    }
    .shop-main-title-left,
    .shop-main-title-right {
        width: 470px;
        font-size: 18px;
        padding: 15px 0;
    }
    .collection {
        min-width: 990px;
        padding: 15px;
    }
    .collection-title {
        font-size: 17px;
    }
    .collection-subtitle {
        font-size: 11px;
        letter-spacing: 1px;
    }
    .collection-go a {
        font-size: 10px;
    }
    .cart,
    .wishlist {
        width: 335px;
    }
    .cart-close {
        top: 4px;
    }
    .cart-item {
        padding: 10px;
    }
    .cart-payment {
        padding: 5px;
    }
    .cart-edit,
    .cart-check {
        padding: 12px 0;
        font-size: 12px;
    }
    .search-two {
        width: 80%;
    }
    .search-enter>input {
        font-size: 16px;
    }
    .search {
        top: 37px;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 160px;
    }
    .navigation {
        width: 80%;
    }
    .navigation-left>li,
    .navigation-right>li {
        margin-right: 10px;
    }
    .navigation-left>li>a>i {
        padding-left: 3px;
        font-size: 12px;
    }
    .navigation-right {
        margin-left: 0px;
    }
    .navigation-right>li>a>i,
    .navigation-right>li i {
        padding-left: 0;
    }
    .demo {
        min-width: 710px;
        padding: 10px;
    }
    .megamenu {
        padding: 15px;
        right: -100px;
    }
    .shop-cat {
        width: 175px;
    }
    .shop-stat {
        width: 145px;
    }
    .recomm-product-item {
        padding: 15px 6px 35px;
    }
    .prom-items {
        width: 200px;
    }
    .shop {
        padding: 10px;
        right: -100px;
    }
    .single-product {
        margin-left: 6px;
    }
    .shop-main-title-left,
    .shop-main-title-right {
        width: 415px;
        font-size: 16px;
    }
    .shop-item a {
        font-size: 11px;
    }
    .home a,
    .pages a,
    .elements a,
    .blog-item a {
        font-size: 11px;
    }
    .collection {
        min-width: 850px;
        padding: 5px;
        right: -100px;
    }
    .collection-bottom-info {
        font-size: 12px;
    }
    .collection-title {
        font-size: 16px;
    }
    .collection-subtitle {
        margin-top: 5px;
    }
    .collection-prev,
    .collection-next {
        width: 30px;
    }
    .cart::before {
        left: 68%;
    }
    .wishlist::before {
        left: 77%;
    }
    .search {
        top: 37px;
    }
    .search-control {
        height: 65px;
    }
}

@media screen and (max-width: 900px) {
    .recomm-product-item .product-img {
        width: 175px;
        height: 175px;
    }
    .header-language-div,
    .header-currency-div,
    .header-account {
        font-size: 11px;
    }
    .header-language i,
    .header-currency i {
        margin-left: 2px;
        font-size: 11px;
    }
    .header-login-list {
        padding: 20px;
    }
    .header-login-list-user,
    .header-login-list-pass,
    .header-login-button,
    .header-login-new {
        margin-bottom: 20px;
        width: 230px;
    }
    .navigation-left>li>a {
        font-size: 11px;
    }
    .navigation-left>li>a>i {
        padding-left: 1px;
        font-size: 11px;
    }
    .navigation-left>li,
    .navigation-right>li {
        margin-right: 8px;
    }
    .navigation-right>li>a>i,
    .navigation-right>li>a>sup,
    .navigation-right>li>i {
        font-size: 10px;
    }
    .header-bottom {
        height: 60px;
    }
    .header-contacts a,
    .header-contacts p,
    .header-login-main,
    .header-currency,
    .header-language,
    .header-account {
        padding: 10px 6px;
    }
    .header-contacts a,
    .header-contacts p {
        font-size: 11px;
    }
    .demo {
        min-width: 600px;
    }
    .light-version>div,
    .dark-version>div {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .megamenu {
        right: -90px;
    }
    .prom-items {
        width: 175px;
    }
    .prom-name-top {
        font-size: 20px;
    }
    .prom-name-bottom {
        top: 44px;
        font-size: 13px;
    }
    .shop {
        right: -90px;
        flex-wrap: wrap;
        width: 445px;
    }
    .single-product {
        margin-left: 0;
        margin-top: 10px;
    }
    .collection {
        min-width: 735px;
        right: -90px;
    }
    .collection-title {
        font-size: 15px;
    }
    .collection-subtitle {
        font-size: 10px;
    }
    .collection-prev,
    .collection-next {
        width: 25px;
        padding: 0;
    }
    .cart::before {
        left: 74%;
    }
    .wishlist::before {
        left: 81.5%;
    }
    .search-control {
        height: 50px;
    }
    .search-close-two>i {
        font-size: 20px;
    }
    .search-close>i,
    .serarch-go>i {
        font-size: 20px;
    }
    .search-enter>input {
        font-size: 13px;
    }
    .search-close-two {
        top: -40px;
    }
    .search {
        top: 36px;
    }
}

@media screen and (max-width: 760px) {
    .header-small {
        display: flex;
    }
    .search-control {
        height: auto;
        flex-wrap: wrap;
        align-items: center;
    }
    .search-content {
        margin-top: 45px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
        z-index: 999;
        transform-origin: 50% 0;
        transform: scaleY(0);
        border-top: 1px solid #e4e4e4;
    }
    .search-content>div {
        background-color: #fff;
    }
    .search-item {
        border-bottom: 1px solid #e4e4e4;
    }
    .search-title {
        width: 100%;
        padding: 10px;
        border-top: 1px solid #e4e4e4;
    }
}