@font-face {
    font-family: Poppins;
    src: url(../source/fonts/Poppins/Poppins-Regular.ttf);
    /* src: url(../source/fonts/Montserrat/Montserrat-Regular.ttf); */
    src: url(../source/fonts/CenturyGothic/CenturyGothic.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../source/fonts/Poppins/Poppins-Bold.ttf);
    /* src: url(../source/fonts/Montserrat/Montserrat-Bold.ttf); */
    src: url(../source/fonts/CenturyGothic/CenturyGothic-Bold.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins";
    transition: transform .2s;
}

.stopOverflow {
    overflow: hidden;
}

.normal {
    display: block;
}

.small {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1920px;
    min-width: 280px;
    width: 100%;
}

.dark-bg {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000d1;
    z-index: 105;
}

.dark-bg-two {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000d1;
    z-index: 120;
}

#load {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}

.content {
    width: 100%;
}

.content-title {
    font-size: 36px;
    font-family: "Poppins-Bold";
    color: #000000;
    text-align: center;
}

.content-subtitle {
    margin: 2% auto;
    max-width: 750px;
    font-size: 18px;
    font-family: "Poppins";
    color: #7a7a7a;
    text-align: center;
}

.name_pages-block {
    padding: 100px 0;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.name_pages-title {
    font-size: 42px;
    font-family: 'Poppins-Bold';
    color: #000;
}

.name_pages-away {
    margin-top: 25px;
}

.name_pages-away,
.name_pages-away a {
    font-size: 16px;
    font-family: 'Poppins-Bold';
    color: #000;
    text-decoration: none;
}

.name_pages-away i {
    font-size: 16px;
    color: #000;
}

.name_pages-away a:hover,
.name_pages-away a:hover i {
    color: #d7b17c;
}

@media screen and (max-width: 1440px) {
    .container {
        padding: 0 1%;
    }
    .content-title {
        font-size: 30px;
    }
    .content-subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .content-title {
        font-size: 24px;
    }
    .content-subtitle {
        font-size: 14px;
    }
    .name_pages-block {
        padding: 80px 0;
    }
    .name_pages-title {
        font-size: 38px;
    }
    .name_pages-away,
    .name_pages-away a,
    .name_pages-away i {
        font-size: 15px;
    }
    .name_pages-away {
        margin-top: 23px;
    }
}

@media screen and (max-width: 900px) {
    .name_pages-block {
        padding: 60px 0;
    }
    .name_pages-title {
        font-size: 34px;
    }
    .name_pages-away,
    .name_pages-away a,
    .name_pages-away i {
        font-size: 14px;
    }
    .name_pages-away {
        margin-top: 20px;
    }
    .content-title {
        font-size: 22px;
    }
    .content-subtitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 760px) {
    .normal {
        display: none;
    }
    .small {
        display: block;
    }
    .container {
        padding: 0 20px;
    }
    .name_pages-block {
        margin-top: 45px;
        padding: 40px 0;
    }
    .name_pages-title {
        font-size: 34px;
    }
    .name_pages-away,
    .name_pages-away a,
    .name_pages-away i {
        font-size: 14px;
    }
    .name_pages-away {
        margin-top: 10px;
    }
}

@media screen and (max-width: 460px) {
    .container {
        padding: 0 10px;
    }
    .name_pages-block {
        padding: 30px 0;
    }
    .name_pages-title {
        font-size: 26px;
    }
    .name_pages-away,
    .name_pages-away a,
    .name_pages-away i {
        font-size: 13px;
    }
}

#root .openBlockY {
    transform: scaleY(1);
}

#root .openBlockX {
    transform: scaleX(1);
}

#root .navShow {
    max-height: 1000px;
    visibility: visible;
    transform: scaleY(1);
}